.reveal {
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.up {
    transform: translateY(40px);
}

.reveal.down {
    transform: translateY(-40px);
}

.reveal.left {
    transform: translateX(40px);
}

.reveal.right {
    transform: translateX(-40px);
}

.reveal.visible {
    opacity: 1;
    transform: translate(0, 0);
}